{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12" align="center" >Delete Category</div>
	</div>
	<div class="row banner main">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1 align="center">{{ category.name }}
			<figure class="creator">
				{% if category.user.picture != '' %}
					<img src="{{ category.user.picture}}">
				{% else %}
				    <img src="{{ url_for('static', filename='blank_user.gif') }}">
				{% endif %}
				<p>created by {{ category.user.username}}</p>
			</figure>
			</h1>
		</div>
	</div>
	<div class="row divider green">
		<div class="col-md-12" align="center" ></div>
	</div>
	<h2> Are you sure you want to delete "{{category.name}}" ? </h2>
	<form action="#" method = 'post'>
		<button type="submit" class="btn btn-default delete" id="submit" type="submit">
		<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Delete</button>
	</form>
{% endblock %}